@{
	string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
}

<div class="ui container fluid _header">
	<div class="ui container">
		<div class="ui middle aligned three column centered grid">
			<div class="row">
				<!-- <div class="ui center aligned seven wide tablet seven wide computer column searchcolumn">
					<div class="ui category @_classSearch">
						<div class="ui icon input fluid">
							<input class="prompt" type="text" placeholder="Buscar...">
							<i class="search icon"></i>
						</div>
						<div class="results"></div>
					</div>
				</div> -->
				<div class="menu">
					
					<a href="/customer" class="item" title="Entrar"><i class="user icon"></i>ENTRE OU CADASTRE-SE</a> 
					<span class="item"><i class="phone icon"></i>+ 55 (14) 3434-1290</span>
					<span class="item"><i class="tags icon"></i>Loja personalizada</span> 
					<span class="item"><i class="address card icon"></i>Parcela em até 10x sem juros*</span>
					<div class="cart__topo">
						<div id="cartButton" class="ui labeled button cartbutton mini-cart no margin bottom" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
							<div class="ui basic primary button ">
								<i class="cart icon"></i>
								<!-- <span>@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista")</span> -->
							</div>
							<a class="ui left pointing primary label" id="total_itens_card">
								@{
									if (Session["EventList"] == null)
									{
										@Html.Action("TotalItensCart", "Checkout")
									}else
									{
										@Html.Action("TotalItensList", "EventList")
									}
								}
								
							</a>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>

