@model List<DomainProduct.Entities.Category>
@{
	string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
}
<div class="ui container fluid menuheader">
    <div class="overlapblackbg"></div>
    <div class="ui container">

        <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        </div>
        <span class="logo__resp">
            <a href="/Home" title="Página Inicial">
                <img class="ui middle aligned image logo" src="/assets/image/logo/logoresp.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
            </a>
        </span>
        <div class="wsmain">
            <nav class="wsmenu">
                <!-- <div class="ui mobile only titleMenu"><i class="content icon"></i> MENU</div> -->
                <ul class="mobile-sub wsmenu-list ui menu">
                    <span class="logo">
                        <a href="/Home" title="Página Inicial">
                            <img class="ui middle aligned image logo" src="/assets/image/logo/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                        </a>
                    </span>
                    @foreach (DomainProduct.Entities.Category category in Model)
                    {
                        if (category.Level.Length == 2)
                        {
                            <li>
                                <a href="@category.UrlFriendly" class="item" title="@category.Name">
                                    @category.Name
                                    @if (category.ChildCategories != null && category.ChildCategories.Any())
                                    {
                                        <i class="dropdown icon"></i>
                                    }
                                </a>
                                @if (category.ChildCategories != null && category.ChildCategories.Any())
                                {
                                    <div class="megamenu clearfix">
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="@(category.Image == null ? "sixteen wide computer column" : "fifteen wide mobile twelve wide tablet twelve wide computer column")">
                                                    <div class="ui grid three column">
                                                        @if (category.ChildCategories != null && category.ChildCategories.Any())
                                                        {
                                                            foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories)
                                                            {
                                                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                                    <div class="ui list relaxed">
                                                                        <a href="@subCategoryLevel1.UrlFriendly" title="@subCategoryLevel1.Name">@subCategoryLevel1.Name</a>
                                                                        @if (subCategoryLevel1.ChildCategories != null && subCategoryLevel1.ChildCategories.Any())
                                                                        {
                                                                            <div class="ui divider"></div>
                                                                            foreach (var subCategoryLevel2 in subCategoryLevel1.ChildCategories)
                                                                            {
                                                                                <a class="item" href="@subCategoryLevel2.UrlFriendly" title="@subCategoryLevel2.Name">@subCategoryLevel2.Name</a>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                @if (category.Image != null)
                                                {
                                                    <div class="four wide tablet four wide computer column mobile-hide">
                                                        @{
                                                            string linkCategoriaImagem = null;
                                                            if (category.Link != null)
                                                            {
                                                                linkCategoriaImagem = @category.Link;
                                                            }
                                                            else
                                                            {
                                                                linkCategoriaImagem = @category.UrlFriendly;
                                                            }
                                                        }
                                                        <a href="@linkCategoriaImagem" title="@category.Image" title="@category.Name">
                                                            <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name"/>
                                                        </a>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="item" href="~/category/index/@category.IdCategory" title="@category.Name"><span>@category.Name</span></a>
                            </li>
                        }
                    }

                    <div class="ui center aligned seven wide tablet seven wide computer column searchcolumn">
                        <div class="ui category @_classSearch">
                            <div class="ui icon input fluid">
                                <input class="prompt" type="text" placeholder="Buscar...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
				    </div> 
                </ul>
            </nav>
        </div>

        <div class="cart__topo logo__resp">
            <div id="cartButton" class="ui labeled button cartbutton mini-cart no margin bottom" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
                <div class="ui basic primary button ">
                    <i class="cart icon"></i>
                    <!-- <span>@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista")</span> -->
                </div>
                <a class="ui left pointing primary label" id="total_itens_card">
                    @{
                        if (Session["EventList"] == null)
                        {
                            @Html.Action("TotalItensCart", "Checkout")
                        }else
                        {
                            @Html.Action("TotalItensList", "EventList")
                        }
                    }
                    
                </a>
            </div>
        </div>

    </div>
</div>
